*{
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

:root{
    --white-background:#e8e7f5;
    --silver-blue:#748CAB;
    --gray-blue:#3E5C76;
    --rich-black:#0D1321;
    --prussian-blue:#1D2D44;
    --default-orange: rgba(238, 105, 105, 0.89);

    /* Couleurs des salles */
    --salle-bg: #ffffff;
    --salle-border: #ccc;
    --salle-hover-bg: #ffebcd;
    
    /* Autres couleurs */
    --grille-bg: #fffaf0;
    --horaire-border: #f08080;
}

/* Style des balises prédéfinis */
h1, h2, h3, h4, h5, h6{
    font-family: 'Satoshi-Regular', sans-serif;
    color: var(--prussian-blue);
    margin: 0%;
    padding: 0%;
}

h1{
    font-size:xx-large;
}

h2{
    font-size:x-large;
}

h3{
    font-size:larger;
}

h4{
    font-size:large;
}

h5{
    font-size:medium;
}

h6{
    font-size:small;
}

/* Fonts */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../fonts/Satoshi-VariableItalic.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-MediumItalic';
    src:url('../fonts/Satoshi-MediumItalic.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../fonts/Satoshi-BoldItalic.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../fonts/Satoshi-BlackItalic.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: italic;
}

/* Scrollbar personnalisée */

::-webkit-scrollbar {
    width: 7px;
    height: 12px;
    background-color: #858585;
}

::-webkit-scrollbar-thumb {
    background-color: #858585;
    border: 2px solid var(--white-background) ;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #858585;
}

::-webkit-scrollbar-track {
    background-color: var(--white-background);
}



/* Mise en page des différentes parties du site */

/*------------- Body -------------*/
body{
    background-color:var(--white-background);
    margin: 0;
}

main{
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
    min-width:100%;
    min-height: calc(100vh - (132px)); /* Le main prendra toute la hauteur de la page moins la hauteur du footer*/ 
}

/*------------- Header -------------*/
header {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:10px 40px;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
    position:fixed;
    background-color: var(--white-background);
    width: 100%;
    z-index: 3;
    max-height: 100px;
}

/*------------- Nav -------------*/

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav li{
    display:inline-block;
    vertical-align: middle;
}

nav ul{
    padding:0;
}

nav ul li{
    margin: 5px;
}

header a{
    font-size: 1.5rem;
    padding:8px;
    margin:6px;
    text-decoration:none;
    color: var(--prussian-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    border-radius: 15px;
    -webkit-transition-duration: 0.123s;
         -o-transition-duration: 0.123s;
            transition-duration: 0.123s;
    cursor:default;
    min-width: 140px;
    text-align: center;
}

header .logo_profile_container{
    text-align: right;
}

.logo_accueil_container{
    text-align: left;
}

header a:hover{
    color: var(--white-background);
}

.logo_accueil{
    padding:8px;
    margin:6px;
    display:inline-block;
    border-radius: 15px;
    -webkit-transition-duration: 0.123s;
         -o-transition-duration: 0.123s;
            transition-duration: 0.123s;
    height: 40px;
    vertical-align: middle;
}

#current { /* Indication de la page actuelle */
    padding:8px 0;
}

#current a{
    color:var(--white-background);
    border-radius: 15px;
    background-color: var(--default-orange);
}

.connexion{
    min-width: 140px;
}

/* Transition au survol des boutons du header */

.logo_accueil:hover, header nav a:hover, .connexion:hover{
    background-color: var(--default-orange);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}

/* Menu déroulant */

.logo_menu img{
    display:none;
    cursor:pointer;
    width:1.9rem;
    margin: auto 23.5px;
    z-index:3;
    position:relative;
}

.dropdown_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right:0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background-color: rgba(232, 231, 245);
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);  /*Anime le menu déroulant de droite à gauche */
}

.menu_toggle{
    display:none;
}

.menu_toggle:checked ~ .dropdown_menu { /* On considère le menu_toggle comme une checkbox, qui quand elle est cochée affiche le menu déroulant */
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.dropdown_menu li{
    padding: 0.7rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dropdown_menu .connexion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.7rem;
}


/*------------- Main (page d'accueil) -------------*/

#page_bienvenue, #salles{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 0% 7%;
    padding-top: 180px;
    padding-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
}

#page_bienvenue{
    -ms-grid-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
}

h1.texte_gauche{    
    -ms-grid-column: 1;    
    -ms-grid-column-span: 2;    
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-right:10%;
}

h5.texte_gauche{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding-right:10%;
    margin-top: -20px; /* Réduit le gap de la grille nécessaire pour séparer les 3 blocs de texte/image (il sépare aussi les h1 des h5 puisqu'ils sont dans des cellules différentes) */
    -ms-grid-row-align: start;
        align-self: start;
}

img.img_droite{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
}

h1.texte_droite{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding-left:10%;
}

h5.texte_droite{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-left:10%;
    -ms-grid-row-align: start;
        align-self: start;
    margin-top: -20px;
}

img.img_gauche{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
}

h1.texte_gauche2{       
    -ms-grid-column: 1;       
    -ms-grid-column-span: 2;       
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    padding-right:10%;
    margin-top: -20px;
}

h5.texte_gauche2{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    padding-right:10%;
    -ms-grid-row-align: start;
        align-self: start;
    margin-top: -20px;
}

img.img_droite2{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
}

#page_bienvenue img, #salles img{
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    min-width:300px;
}

/*------------- Main (Page de choix de salles) -------------*/
#page_batiments {
    padding: 100px 0px 0px 0px;
    margin: 0px;
    min-height:100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}
#page_batiments > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
#page_batiments > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
#page_batiments > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
#page_batiments > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

#page_batiments a{
    display: block;
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}

#page_batiments img{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0px;
    padding: 0px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
}

#page_batiments a h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    font-size: xx-large;
}

#page_batiments img:hover{
    -o-object-position: 70%;
       object-position: 70%;
    max-width: 100%;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}


/*------------- Main (Page de connexion) -------------*/

#page_connexion {
    background-color: var(--white-background);
    max-width: 400px;
    overflow:visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh + 15%);
    font-family: 'Satoshi-Bold', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
    padding-bottom : 70px;
}

#page_connexion .radio-label{
    margin : 5px;
    cursor:pointer;
}

fieldset {
    border: none;
}

form {
    padding: 20px;
    text-align: center;
    border: solid var(--rich-black) 2.5px;
    border-radius: 15px;
}

p.form-link{
    margin-bottom: 5px;
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
    color: var(--rich-black);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 1em;
    border:none;
    outline: none;
    border:solid var(--white-background) 2px;
}

#page_connexion input:focus{
    border: solid var(--rich-black) 2px;
}

.radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Satoshi-Regular', sans-serif;
    gap: 15px;
    margin: 10px;
}

input[type="radio"] {
    margin: 0 5px;
    cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
    font-family: 'Satoshi-Bold', sans-serif;
}

.btn-submit, .btn-commentaire {
    background-color: var(--silver-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    color: var(--rich-black);
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    border: none;
    color: var(--white-background);
}

.btn-submit:hover, .btn-commentaire:hover {
    background-color: var(--gray-blue);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    color: white;
}

/*------------- Main (Page pour chaque batiment) -------------*/

#batiment{
    padding-top: 125px;
    padding-bottom:70px;
}
.titre{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center ;
        -ms-flex-pack: center ;
            justify-content: center ;
}

.titre h1{
    padding:10px;
    color:var(--prussian-blue);
    border-radius:15px;
}

.dropdownSC, .dropdownAMP {
    display: block;
}

.dropdownSC input[type="checkbox"], .dropdownAMP input[type="checkbox"] {
    display: none;
}

/* Style pour le label qui agit comme un bouton */
.dropdownSC label, .dropdownAMP label {
    color: var(--rich-black);
    padding: 10px 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Aligne le texte et la flèche verticalement */
    font-family: 'Satoshi-Bold', sans-serif;
}

/* Flèche vers le bas */
.dropdownSC label::before, .dropdownAMP label::before {
    content: "▼";
    display: inline-block;
    margin-right: 10px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Animation fluide de rotation */
}

/* Rotation de la flèche quand la checkbox est cochée */
.dropdownSC input[type="checkbox"]:checked + label::before, 
.dropdownAMP input[type="checkbox"]:checked + label::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); /* Fait pointer la flèche vers le haut */
}

/* Contenu caché par défaut */
.dropdownSC-content, .dropdownAMP-content {
    margin-top: 10px;
    max-height: 0; /* Commence masqué */
    opacity: 0; /* Invisible par défaut */
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
    -o-transition: max-height 0.5s ease, opacity 0.5s ease;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Transitions pour une animation fluide */
}

/* Afficher le contenu quand la checkbox est cochée */
.dropdownSC input[type="checkbox"]:checked ~ .dropdownSC-content,
.dropdownAMP input[type="checkbox"]:checked ~ .dropdownAMP-content {
    max-height: 450px; /* Hauteur dépliée */
    opacity: 1; /* Devient visible */
    overflow-y: scroll; /* Active le défilement uniquement lorsqu'il est visible */
}

/*------------- Main (Page cookies) -------------*/

#page_cookies {
    background-color: var(--white-background);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
    padding-bottom : 70px;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Satoshi-Bold', sans-serif;
}

/* ------------------- CODE DES SALLES ------------------ */

/* Container principal des salles */
.salles-container {
    font-family: 'Satoshi-Bold', sans-serif;
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
}

/* Style des salles */
.salle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    position: relative;
    -webkit-transition: border-color 0.3s ease, margin-bottom 0.3s ease, -webkit-transform 0.3s ease;
    transition: border-color 0.3s ease, margin-bottom 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, border-color 0.3s ease, margin-bottom 0.3s ease;
    transition: transform 0.3s ease, border-color 0.3s ease, margin-bottom 0.3s ease;
    transition: transform 0.3s ease, border-color 0.3s ease, margin-bottom 0.3s ease, -webkit-transform 0.3s ease;
    width: 100%;

}

.salle::before{
    pointer-events:none;
}

.salle div a{
    height:200px;
    width:100%;
}
.salle .img-container{
    overflow:hidden;
    height:200px;
    width:100%;
    border-radius: 8px;
    border: 2px solid black;
}

.salle div img {
    height: 100%;
    width:100%;
    -o-object-position: center 50%;
       object-position: center 50%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    
}

.salle:has(.img-container:hover), .salle:has(.infos:hover), .salle:has(.nom-salle:hover), .salle:has(.horaires-container:hover){
    margin-bottom: 200px;
    -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
            transform:scale(1.05);
}


/* Effet de fondu au survol */
.salle::before {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.salle:hover::before {
    opacity: 1;
}

/* Nom des salles */
.nom-salle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--default-orange);
    border-radius: 4px;
    bottom: 10px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 10px;
    padding: 0 1%;
    position: absolute;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
}

/* Conteneur des horaires */
.horaires-container {
    background-color: var(--white-background);
    display: none;
    left: 0;
    max-height: 200px;
    opacity: 0;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
    -o-transition: max-height 0.3s ease, opacity 0.3s ease;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    width: 100%;
    z-index: 10;
    border-radius: 8px;
}

.salle:hover .horaires-container {
    max-height: 200px;
    opacity: 1;
    display: block;
}

/* Reprends le style d'affichage des horaires d'une salle sur la page 
d'un bâtiment mais appliqué à la page de la salle elle-même */
.salles-horaires-container {
    background-color: var(--white-background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 200px;
    -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
    -o-transition: max-height 0.3s ease, opacity 0.3s ease;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    width: auto;
    border-radius: 8px;
    position: relative;
    margin: 0 auto;
}

h1.infos {
    color: #000;
    font-weight: bold;
    position: relative;
    top: -50%;
}

div.infos {
    color: #000;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.infos a {
    text-decoration: none;
    color: var(--rich-black);
}

.salle:hover .infos  {
    visibility: visible;
}

/* Liste des horaires */
.horaires-container ul {
    bottom: 10px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 0;
}

.horaires-container ul .horaire {
    background-color: var(--white-background);
    border-bottom: 1px solid var(--white-background);
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.horaires-container ul .horaire:hover {
    background-color: var(--salle-hover-bg);
}

/* Style du bouton Réserver */
.reserver {
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 10px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    position : absolute;
    right:3%;
}

.form-horaires {
    display: inline;
    border: none;
}

.reserver:hover {
    background-color: #218838;
}

/* Media queries pour la responsivité */
@media (max-width: 900px) {
    .salles-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .salles-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

/*------------- Main (Page générique des salles) -------------*/

#salles{
    -ms-grid-rows: 1fr 15px 2fr 15px auto 15px 470px auto auto;
    grid-template-rows: 1fr 2fr auto 470px auto auto;
    -ms-grid-columns: 3fr 2fr 2fr;
    grid-template-columns: 3fr 2fr 2fr;
    row-gap: 15px;
}

#salles > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#salles > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#salles > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#salles > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

#salles > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

#salles > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

#salles > *:nth-child(7){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

#salles > *:nth-child(8){
    -ms-grid-row: 5;
    -ms-grid-column: 2;
}

#salles > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

#salles > *:nth-child(10){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

#salles > *:nth-child(11){
    -ms-grid-row: 7;
    -ms-grid-column: 2;
}

#salles > *:nth-child(12){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

#salles .img_gauche{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
}

#salles h1.texte_droite{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}

#salles .texte_droite{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align:initial;
}

#salles .texte_droite li{
    list-style-type: initial;
    line-height: 2.5rem;
}


#salles .dispo{
    -ms-grid-column:1;
    -ms-grid-column-span:3;
    grid-column:1/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-top:20px;
    padding-bottom:20px;
}

#salles .salle-dispo-container{
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

#salles .salle-dispo-container > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#salles .salle-dispo-container > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#salles .horaire h5{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

#salles .reserver{
    top:-25px;
    left:210px;
    position:relative;
}

#salles div.texte_droite{
    padding-left:10%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: -20px;
}

#salles .form-horaires{
    display: inline;
}

#salles .salle-dispo-container ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

        /*------------- Commentaires-----------*/

        .commentaires-submit-container {
            grid-column: 1 / 4; /* La section occupe toute la largeur de la grille */
            grid-row: 7 / 8; /* Positionne la section en bas de la grille */
            margin-top: 20px;
            margin-inline: auto;
            max-width: 500px;
            width:100%;
        }
        
        .commentaires-submit-container h2 {
            text-align: center;
        }
        
        .form-commentaires textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            font-family: 'Satoshi-Regular', serif;
            border-radius: 5px;
            resize: none;
        }
        form.form-commentaires{
            border:none;
            padding:0px;
        }

        .commentaires{
            grid-column: 1 / 4; /* La section occupe toute la largeur de la grille */
            grid-row: 5 / 6; /* Positionne la section en bas de la grille */
            text-align:center;
            padding-top:10px;
            padding-bottom:20px;
        }

        .commentaires-container{
            grid-column: 1/4;
            grid-row: 6/7;
        }

        .commentaire-connexion{
            text-align: center;
            margin: auto;
            font-family: 'Satoshi-Bold', sans-serif;
            color: red;
        }

        .commentaire-success {
            text-align: center;
            margin: auto;
            font-family: 'Satoshi-Bold', sans-serif;
            color: green !important;
        }

        .commentaire h5{
            font-family: 'Satoshi-Bold', sans-serif;
            color:var(--rich-black);
            font-size: large;
            margin-bottom: 5px;
            
        }

        .commentaire p{
            font-family: 'Satoshi-Medium', sans-serif;
            color:var(--rich-black);
            font-size: medium;
        }

/*------------- Page de profil -------------*/

#profil {
    display: grid;
    padding-top: 180px;
    padding-bottom: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 80px auto;
    padding-inline: 7%;
    row-gap: 20px;
}

#profil > h1:first-of-type{
    display:block;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

#profil > h1:nth-of-type(2){
    display:block;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

#profil > h1:nth-of-type(3){
    display:block;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 15px;
}

.profile_container h2{
    display:block;
    grid-row: 2/3;
    text-align: center;
}

.img_profil{
    grid-row:1/2;
    grid-column:1/2;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

div.profile_container{
    display: inline-grid;
    align-items: center;
    justify-content: center;
    max-height: auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    max-height: 360px;
}

#profil .reservation_container table{
    width:auto;
    margin:0 auto;
    border-collapse: separate;
    table-layout: auto;
    overflow: hidden;
    border: 2px solid var(--rich-black);
    border-radius: 15px;
}

.reservation_container th, .reservation_container td {
    padding: 10px;
    text-align: center;
    font-family: 'Satoshi-Regular', sans-serif;
}

.btn-deconnexion{
    background-color: var(--silver-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    color: var(--rich-black);
    padding: 10px 15px;
    border-radius: 15px;
    margin:auto;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    border: none;
    color: var(--white-background);
    text-decoration: none;
}
.btn-deconnexion:hover {
    background-color: var(--gray-blue);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    color: white;
}

/*------------- Footer -------------*/

footer {
    bottom: 0%;
    width: 100%;
    padding-inline:40px;
    line-height: 1rem;
    padding-top:10px;
}

footer h4{
    font-size:large;
}

footer h4{
    margin:0 20px 0 20px;
}


footer .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows:1fr;
    grid-template-rows:1fr;
    -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


footer .grid-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}


footer .grid-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}


footer .grid-container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}


footer .grid-container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

footer div.gauche{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

footer div.gauche div{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height:40.33px;
    margin:5px 20px 5px 20px;
    background-color:white;
    
}

footer div.droite{
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
}

footer a{
    color: var(--silver-blue);
    text-decoration: underline;
    font-size: small;
    font-family: 'Satoshi-Regular', sans-serif;

}

footer .droite, footer .gauche{
    text-align: center;
    min-width:219px;
    
}

footer .centre{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    text-align: center;
    white-space: nowrap;
}

footer #Newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left:20px;
    margin-right:20px;
}

#Newsletter form{
    display: flex;
    align-items: center;
    margin:0;
    border:none;
    padding:0px;
    width: 100%;
}

footer #Newsletter input[type="email"] {
    padding: 10px;
    max-width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-height:40.33px;
    min-height: 40.33px;
}
footer .gauche div{
    height:50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}

#Newsletter button.btn-footer {
    border: none;
    background-color: var(--silver-blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    margin:5px 0 5px 0px;
    width:40px;
    height: 40px;
    margin-left:-33.95px;
}

footer .btn-footer:hover {
    background-color: var(--gray-blue);
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* -------------- Notification de la Newsletter -------------- */

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 9999;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-animation: fadeOut 3s forwards;
            animation: fadeOut 3s forwards; /* Animation pour disparaître après 3 secondes */
}

.toast.success { background-color: #4CAF50; }
.toast.warning { background-color: #FFA500; }
.toast.error   { background-color: #f44336; }

@-webkit-keyframes fadeOut {
    0% {
        display:block;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}

@keyframes fadeOut {
    0% {
        display:block;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}

/*------------- Media Queries -------------*/

@media only screen and (max-aspect-ratio: 6/9),
       only screen and (max-width: 850px) { /* Responsive Navbar */
    
    /* Main (page d'accueil) */
    
    #page_bienvenue{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(10, auto);
        padding-top:140px;
        padding-bottom: 20px;
    }
    
    #page_bienvenue > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(4){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(5){
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(6){
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(7){
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(8){
        -ms-grid-row: 8;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(9){
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    
    #page_bienvenue > *:nth-child(10){
        -ms-grid-row: 10;
        -ms-grid-column: 1;
    }
    #page_bienvenue h1.texte_gauche,#page_bienvenue h5.texte_gauche,#page_bienvenue img.img_droite,#page_bienvenue h1.texte_droite,#page_bienvenue h5.texte_droite,#page_bienvenue img.img_gauche,#page_bienvenue h1.texte_gauche2,#page_bienvenue h5.texte_gauche2,#page_bienvenue img.img_droite2{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        padding: 0px;
    }
    #page_bienvenue h1.texte_gauche{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    #page_bienvenue h5.texte_gauche{
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    #page_bienvenue img.img_droite{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }
    #page_bienvenue h1.texte_droite{
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
    }
    #page_bienvenue h5.texte_droite{
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5/6;
    }
    #page_bienvenue img.img_gauche{
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        grid-row: 6/7;
    }
    #page_bienvenue h1.texte_gauche2{       
        -ms-grid-row: 7;       
        -ms-grid-row-span: 1;       
        grid-row: 7/8;
    }
    #page_bienvenue h5.texte_gauche2{
        -ms-grid-row: 8;
        -ms-grid-row-span: 1;
        grid-row: 8/9;
    }
    #page_bienvenue img.img_droite2{
        -ms-grid-row: 9;
        -ms-grid-row-span: 1;
        grid-row: 9/10;
    }
/*------------- Page de profil -------------*/

#profil{
    grid-template-columns: auto;
    grid-template-rows: 50px auto 60px auto 60px auto;
    row-gap: 40px;
    padding-top:160px;
}

#profil > h1:first-of-type{
    grid-column: 1/2;
    grid-row: 1/2;
}

#profil .profile_container{
    grid-column: 1/2;
    grid-row: 2/3;
}

#profil > h1:nth-of-type(2){
    grid-column: 1/2;
    grid-row: 3/4;
}

#profil .reservation_container{
    grid-column: 1/2;
    grid-row: 4/5;
}

#profil > h1:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 5/6;
}



/*------------- Main (Page de choix de salles) -------------*/
#page_batiments {
    padding: 100px 0px 0px 0px;
    margin: 0px;
    height: 100vh;
    width: 200px;
    margin-bottom: 10px;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
}
#page_batiments > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
}
#page_batiments > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
}
#page_batiments > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
}
#page_batiments > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
}

#page_batiments a{
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    position: relative;
    height: calc(50vh - 50px);
}

#page_batiments a img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#page_batiments img:hover{
    -o-object-position: 70%;
       object-position: 70%;
    max-width: 100%;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    content: "Salles : quarante douze\nAmphi : non";
    text-align: center;
}

/* Main (Page générique des salles) */  

    #salles{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 25px auto 25px auto 25px auto 25px auto;
        grid-template-rows: repeat(8,auto);
        padding-top:180px;
        padding-bottom: 80px;
        row-gap:25px;
    }  

    #salles > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }  

    #salles > *:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }  

    #salles > *:nth-child(3){
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }  

    #salles > *:nth-child(4){
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }  

    #salles > *:nth-child(5){
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }

    #salles img.img_droite,#salles h1.texte_droite,#salles  .texte_droite,#salles img.img_gauche,#salles h1.texte_gauche2,#salles div.texte_droite{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        padding: 0px;
    }

    #salles .salles-dispo-container{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
    }

    #salles h1.texte_droite{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        margin:0;
        text-align: center;
    }

    #salles .img_gauche{
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;        
    }
    
    #salles .texte_droite{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        padding:0;
        margin-top:0;
        padding-top:20px;
    }

    #salles .dispo{
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
    }

    #salles .salle-dispo-container{
        -ms-grid-row:5;
        -ms-grid-row-span:1;
        grid-row:5/6;
    }

    #salles .reserver{
        left: 150px;
    }

    #salles h1.commentaires{
        grid-column: 1 / 4; /* La section occupe toute la largeur de la grille */
        grid-row: 6 / 7; /* Positionne la section en bas de la grille */
        text-align:center;
        padding-top:10px;
        padding-bottom:20px;
    }

    #salles .commentaires-container{
        grid-column: 1 / 4; /* La section occupe toute la largeur de la grille */
        grid-row: 7 / 8; /* Positionne la section en bas de la grille */
    }

    #salles .commentaires-submit-container{
        grid-column:1 / 4;
        grid-row: 8 / 9; /* Positionne la section en bas de la grille */
    }

    /* Responsive Navbar */

    .logo_menu{
        display:block;
    }

    nav ul li, .connexion{
        display: none;
    }

    header ul{
        padding:0;
    }
    .logo_menu img{
        display:block;
    }
    img.profil, header a:nth-of-type(2){
        display: none;
    }
    /* header a:first-of-type{
        display: block;
        text-align: center;
    } */
    .logo_accueil_container{
        text-align: left;
    }

}

@media screen and (min-width: 851px) {
    .dropdown_menu {
        display: none; /* Masquer le menu */
    }
}

@media screen and (max-width: 700px) {
    footer .grid-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    footer .grid-container > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    footer .grid-container > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    footer .grid-container > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    footer div.gauche{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }

    footer div.centre{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }

    footer div.droite{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
        padding-top:20px;
    }

    footer div.gauche div{
        margin: 5px 0px;
    }

    footer .btn-footer {
        margin-left: 0;
    }

    footer #Newsletter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    footer #Newsletter input[type="email"] {
        width: 100%;
    }

}

/* Pop up cookies */ 

.cookie-popup {
    position: fixed;
    bottom: 5%;
    right: 10%;
    left: 10%;
    background-color:var(--white-background);
    border-radius: 15px;
    z-index: 999;
    display: block;
    font-family: 'Satoshi-Bold', sans-serif;
    border: none;
}
  
  .cookie-content {
    text-align: center;
    border: none;
}
  
  .cookie-content p {
    margin: 0;
    border: none;
}
  
  .cookie-content button {
    font-size: 1.5rem;
    padding:8px;
    margin:6px;
    text-decoration:none;
    color: var(--prussian-blue);
    background-color: var(--white-background);
    font-family: 'Satoshi-Bold', sans-serif;
    border-radius: 15px;
    -webkit-transition-duration: 0.123s;
         -o-transition-duration: 0.123s;
            transition-duration: 0.123s;
    cursor: pointer;
    min-width: 140px;
    border: none;
}
  
  .cookie-content button:hover {
    color: var(--white-background);
    background-color: var(--default-orange);
}

  .star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: medium;

  }

  .star-rating input {
    display: none;
  }

  .star-rating label {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px var(--horaire-border);
    text-stroke: 1px var(--horaire-border);
    transition: color 0.2s;
    margin: 0 0.2rem;
  }

  .star-rating label::before {
    content: '★';
  }

  /* Survol (hover) */
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:var(--horaire-border);
  }

  /* Sélection (checked) */
  .star-rating input:checked ~ label {
    color: var(--horaire-border);
  }

  .star-form {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    left: 2%;
  }

  .profil{
    width: 50px;
    height: 50px;
    border-radius: 50%; /* rend l'image ronde */
    object-fit: cover; /* garde l'image bien cadrée */
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    cursor:pointer;
    vertical-align: bottom;
    border: solid var(--rich-black) 2px;
    display: inline-block;
    
    /* Lissage de la bordure (réduit l'offset visuel blanc entre la bodure et l'image) */
    background-color: var(--rich-black);                
    box-shadow: inset 0 0 0 1px var(--rich-black);

  }
  
  .profil:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
  }

/* Affichage de l'avatar dans les commentaires (environ ligne 1363) */
.avatar-nom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 2.2em !important;
    height: 2.2em !important;
    min-width: 0 !important;
    max-width: 100% !important;
    min-height: 0 !important;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 2px solid var(--default-orange);
    box-shadow: 0 1px 4px rgba(0,0,0.1);
}

.dbadmin{    
    width:auto;
    margin:0 auto;
    border-collapse: collapse;
    table-layout: auto;
    overflow: hidden;
    border: 2px solid var(--rich-black);
    border-radius: 15px;
}

.dbadmin th, .dbadmin td{
    border : 1px solid var(--rich-black);
}

/* Messages d'erreur pour l'ajout d'une salle où toutes les classes étaient utilisées sans être définies*/
.error {
    color: red;
}
.success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-weight: bold;
    z-index: 9999;
    animation: fadeOut 1s ease-in-out 2s forwards;
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
.form-group {
    padding: 10px 10px;
    border-radius: 15px;
    /* margin: 10px 10px; */
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    border: none;
}
.form-group:hover {
    background-color: var(--silver-blue);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.form-container {
    
}
.ajouter_salle_submit {
    padding-top: 20px;
    margin-bottom: -10px;
}