*{
    list-style: none;
    box-sizing: border-box
}
:root{
    --white-background:#e8e7f5;
    --silver-blue:#748CAB;
    --gray-blue:#3E5C76;
    --rich-black:#0D1321;
    --prussian-blue:#1D2D44;
}

/* Fonts */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../fonts/Satoshi-VariableItalic.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-MediumItalic';
    src:url('../fonts/Satoshi-MediumItalic.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../fonts/Satoshi-BoldItalic.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../fonts/Satoshi-BlackItalic.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: italic;
}

/* Mise en page des différentes parties du site */

/*------------- Body -------------*/
body{
    background-color:var(--white-background);
    margin: 0;
}

/*------------- Header -------------*/
header {
    display:flex;
    padding:10px 50px;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 0px 10px var(--gray-blue);
}

/*------------- Nav -------------*/

nav li{
    display:inline-block;
}

nav ul li{
    margin: 0 5px;
}

header a{
    font-size: 1.5rem;
    padding:8px;
    margin:6px;
    text-decoration:none;
    color: var(--prussian-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    border-radius: 15px;
    transition-duration: 0.123s;
}

.logo_accueil{
    padding:8px;
    margin:6px;
    display:inline-block;
    border-radius: 15px;
    transition-duration: 0.123s;
    height: 40px;
    vertical-align: middle;
}

/* Transition au survol des boutons du header */

.logo_accueil:hover, header nav a:hover, .connexion:hover{
    background-color: rgba(238, 105, 105, 0.89);
    transition-duration: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}

header a:hover{
    color: var(--white-background);
}

header a{
    cursor:default;   /*Permet d'empêcher le curseur de deveinir un pointeur lorsqu'on survole autour de l'image*/      
}

/*------------- Main -------------*/


/*------------- Footer -------------*/