*{
    list-style: none;
    box-sizing: border-box
}

:root{
    --white-background:#e8e7f5;
    --silver-blue:#748CAB;
    --gray-blue:#3E5C76;
    --rich-black:#0D1321;
    --prussian-blue:#1D2D44;
    --default-orange: rgba(238, 105, 105, 0.89);
}

/* Style des balises prédéfinis */
h1, h2, h3, h4, h5, h6{
    font-family: 'Satoshi-Regular', sans-serif;
    color: var(--prussian-blue);
    margin: 0%;
    padding: 0%;
}

h1{
    font-size:xx-large;
}

h2{
    font-size:x-large;
}

h3{
    font-size:larger;
}

h4{
    font-size:large;
}

h5{
    font-size:medium;
}

h6{
    font-size:small;
}

/* Fonts */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../fonts/Satoshi-VariableItalic.woff') format('woff');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff') format('woff');
        font-weight: 300;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-MediumItalic';
    src:url('../fonts/Satoshi-MediumItalic.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../fonts/Satoshi-BoldItalic.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
}
  
@font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../fonts/Satoshi-BlackItalic.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: italic;
}

/* Scrollbar personnalisée */

body::-webkit-scrollbar {
    width: 13px; 
}

body::-webkit-scrollbar-track {
    background: var(--white-background);
}

body::-webkit-scrollbar-thumb {
    background-color: #d2ceee; 
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
}



/* Mise en page des différentes parties du site */

/*------------- Body -------------*/
body{
    background-color:var(--white-background);
    margin: 0;
}

main{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
}

/*------------- Header -------------*/
header {
    display:flex;
    padding:10px 40px;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px var(--rich-black);
    position:fixed;
    background-color: var(--white-background);
    width: 100%;
    z-index: 3;
}

/*------------- Nav -------------*/

nav{
    display: flex;
    align-items: center;
}

nav li{
    display:inline-block;
    vertical-align: middle;
}

nav ul{
    padding:0;
}

nav ul li{
    margin: 5px;
}

header a{
    font-size: 1.5rem;
    padding:8px;
    margin:6px;
    text-decoration:none;
    color: var(--prussian-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    border-radius: 15px;
    transition-duration: 0.123s;
    cursor:default;
    min-width: 140px;
}

header a:hover{
    color: var(--white-background);
}

.logo_accueil{
    padding:8px;
    margin:6px;
    display:inline-block;
    border-radius: 15px;
    transition-duration: 0.123s;
    height: 40px;
    vertical-align: middle;
}

#current { /* Indication de la page actuelle */
    padding:8px 0;
}

#current a{
    color:var(--white-background);
    border-radius: 15px;
    background-color: var(--default-orange);
}

.connexion{
    min-width: 140px;
}

/* Transition au survol des boutons du header */

.logo_accueil:hover, header nav a:hover, .connexion:hover{
    background-color: var(--default-orange);
    transition-duration: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}

/* Menu déroulant */

.logo_menu img{
    display:none;
    cursor:pointer;
    width:1.9rem;
    margin: auto 23.5px;
    z-index:3;
    position:relative;
}

.dropdown_menu{
    display: flex;
    position:absolute;
    right:0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: blur(100px);
    background-color: rgba(232, 231, 245);
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    transform: translateX(100%);  /*Anime le menu déroulant de droite à gauche*/
}

.menu_toggle{
    display:none;
}

.menu_toggle:checked ~ .dropdown_menu { /* On considère le menu_toggle comme une checkbox, qui quand elle est cochée affiche le menu déroulant */
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.dropdown_menu li{
    padding: 0.7rem;
    display:flex;
    align-items:center;
    justify-content: center;
}

.dropdown_menu .connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
}


/*------------- Main (page d'accueil) -------------*/

#page_bienvenue, #salles{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 0% 7%;
    padding-top: 180px;
    padding-bottom: 80px;
    align-items: center;
    row-gap: 40px;
}

#page_bienvenue{
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
}

h1.texte_gauche{    
    grid-column: 1/3;
    grid-row: 1/2;
    padding-right:10%;
}

h5.texte_gauche{
    grid-column: 1/3;
    grid-row: 2/3;
    padding-right:10%;
    margin-top: -20px; /* Réduit le gap de la grille nécessaire pour séparer les 3 blocs de texte/image (il sépare aussi les h1 des h5 puisqu'ils sont dans des cellules différentes) */
    align-self: start;
}

img.img_droite{
    grid-column: 3/4;
    grid-row: 1/3;
    width: 100%;
    justify-self: center;
}

h1.texte_droite{
    grid-column: 2/4;
    grid-row: 3/4;
    padding-left:10%;
}

h5.texte_droite{
    grid-column: 2/4;
    grid-row: 4/5;
    padding-left:10%;
    align-self: start;
    margin-top: -20px;
}

img.img_gauche{
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
    justify-self: center;
}

h1.texte_gauche2{       
    grid-column: 1/3;
    grid-row: 5/6;
    padding-right:10%;
    margin-top: -20px;
}

h5.texte_gauche2{
    grid-column: 1/3;
    grid-row: 6/7;
    padding-right:10%;
    align-self: start;
    margin-top: -20px;
}

img.img_droite2{
    grid-column: 3/4;
    grid-row: 5/7;
    width: 100%;
    justify-self: center;
}

#page_bienvenue img, #salles img{
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    min-width:300px;
}

/*------------- Main (Page de choix de salles) -------------*/

#page_salles{
    padding: 100px 0px 0px 0px;
    margin: 0px;
    height:100vh;
    margin-bottom:10px;
}

span{
    font-weight:bold;
}

#page_salles img{
    display: inline-block;
    position: absolute;
    width: 25%;
    height: calc(100vh - 100px);
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    transition-duration: 0.3s;
    filter: grayscale(70%);
    filter: brightness(80%);
}

#page_salles img:hover{
    object-position: 70%;
    max-width: 100%;
    transition-duration: 0.3s;
    filter: grayscale(0%);
    filter: brightness(100%);
}

#ic1{
    left: 0%;
}

#ic2{
    left: 25%;
}

#alg{
    left: 50%;
}

#ns{
    left: 75%;
}

/*------------- Main (Page de connexion) -------------*/

#page_connexion {
    background-color: var(--white-background);
    width: 400px;
    overflow:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 15%);
    font-family: 'Satoshi-Bold', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
}

#page_connexion .radio-label{
    margin : 5px;
    cursor:pointer;
}

fieldset {
    border: none;
}

form {
    padding: 20px;
    text-align: center;
    border: solid var(--rich-black) 2.5px;
    border-radius: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
    color: var(--rich-black);
}

input[type="text"], input[type="email"] {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 1em;
    border:none;
    outline: none;
    border:solid var(--white-background) 2px;
}

#page_connexion input:focus{
    border: solid var(--rich-black) 2px;
}

.radio-group {
    display: flex;
    justify-content: center;
    font-family: 'Satoshi-Regular', sans-serif;
    gap: 15px;
    margin: 10px;
}

input[type="radio"] {
    margin: 0 5px;
    cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
    font-family: 'Satoshi-Bold', sans-serif;
}

.btn-submit {
    background-color: var(--silver-blue);
    font-family: 'Satoshi-Bold', sans-serif;
    color: var(--rich-black);
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 50px;
    transition-duration: 0.3s;
    border: none;
    color: var(--white-background);
}

.btn-submit:hover {
    background-color: var(--gray-blue);
    transition-duration: 0.3s;
    color: white;
}

/*------------- Main (Page pour chaque batiment) -------------*/

#batiment{
    padding-top: 100px;
    overflow-y: hidden;
}
.titre{
    display: flex;
    justify-content: center ;
}

.titre h1{
    padding:10px;
    color:var(--prussian-blue);
    border-radius:15px;
}

#batiment .grille{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 40px;
    padding-top:40px;
}

#batiment .grille section ul li a:link, #batiment .grille section ul li a:visited{
    color: #456a9e;
}

#batiment .grille section.classique{
    grid-column: 1/2;
    border: solid 2px var(--prussian-blue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#batiment .grille section.amphi{
    grid-column: 2/3;
    border: solid 2px var(--prussian-blue);
    border-left:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#batiment .grille h2{
    text-align: center;
    border-bottom:solid 2px var(--prussian-blue);
    padding:7px;
}

#batiment section ul li{
    list-style-type: initial;
}

#showsallesSC, #showsallesAMP{
    display: none;
    clear:both;
    flex-wrap: wrap;
    align-content: space-between;
    height: 350px;
    padding: 0 4%;
    overflow: scroll;

}

#salless{
    font-family: 'Satoshi-Bold', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#salless #SC{
    background-color: var(--silver-blue);
}

#salless #AMP{
    background-color: var(--silver-blue);
}

#SC {
    position: relative;
    padding: 5%;
    border: solid 3px var(--prussian-blue);
    border-radius: 20px;
    width: 20%;
    left: 20%;
    cursor: default;
}

#AMP {
    position: relative;
    padding: 5%;
    border: solid 3px var(--prussian-blue);
    border-radius: 20px;
    width: 20%;
    right: 20%;
    cursor: default;
}

#batiment #SC:hover, #batiment:has(#neant1:hover) #SC, #batiment:has(#showsallesSC:hover) #SC {
    background-color: var(--prussian-blue);
    color: white;
}

#batiment #AMP:hover, #batiment:has(#neant2:hover) #AMP, #batiment:has(#showsallesAMP:hover) #AMP {
    background-color: var(--prussian-blue);
    color: white;
}

#batiment:has(#SC:hover) #showsallesSC, #batiment:has(#AMP:hover) #showsallesAMP,#batiment:has(#neant1:hover) #showsallesSC, #batiment:has(#neant2:hover) #showsallesAMP{
    display: flex;
}

#batiment:has(#SC:hover) #neant1, #batiment:has(#showsallesSC:hover) #neant1, #neant1:hover {
    display: flex;
}

#batiment:has(#AMP:hover) #neant2, #batiment:has(#showsallesAMP:hover) #neant2, #neant2:hover {
    display: flex;
}

#showsallesSC:hover, #showsallesAMP:hover{
    display:flex;
}

#BTEST {
    border: solid 3px var(--rich-black);
    border-radius: 5px;
    width: 47.5%;
    height: 275px;
    margin: 1%;
    display: flex;
    flex-direction: column; /* Organise les éléments verticalement */
    align-items: center; /* Centre horizontalement le contenu */
    position: relative;
}

#BTEST h3 {
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin: 0; /* Supprime les marges par défaut */
    padding: 5px 0; /* Ajoute un petit espace autour du titre */
    text-align: center; /* Centre le texte horizontalement */
    width: 100%; /* S'étend sur toute la largeur */
}

#content {
    display: flex;
    flex-direction: row; /* Organise l'image et les infos côte à côte */
    justify-content: space-between; /* Ajoute de l'espace entre l'image et les infos */
    width: 100%; /* S'étend sur toute la largeur */
    flex: 1; /* Remplit l'espace vertical disponible */
    padding: 5px; /* Ajoute un petit espacement autour des éléments */
    box-sizing: border-box; /* Inclut le padding dans les dimensions */
}

#BTEST img {
    width: 45%; /* L'image occupe 45% de la largeur */
    height: auto; /* Conserve le ratio de l'image */
    align-self: flex-start; /* Aligne l'image en haut */
    padding-left: 2%;
    object-position: center;
    object-fit: cover;
}

#infosalle {
    font-family: 'Satoshi-Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    padding-left: 20px; /* Ajoute un espacement entre l'image et les infos */
    flex: 1; /* Le texte occupe tout l'espace restant */
}

#neant1, #neant2 {
    display: none;
    height: 30px;
    width: 100%;
}

.btn-reserver {
    position: absolute;
    bottom: 3%; /* À 10px du bas */
    right: 1.75%; /* À 10px du côté droit */
    padding: 10px 15px;
    height: 15%;
    background-color: var(--silver-blue); /* Couleur du bouton */
    color: white;
    text-decoration: none; /* Retire le souligné du lien */
    border-radius: 5px; /* Bord arrondi */
    font-weight: bold;
    text-align: center;
}

.btn-reserver:hover {
    background-color: var(--gray-blue);
    transition-duration: 0.3s;
}

/*------------- Main (Page générique des salles) -------------*/

#salles{
    grid-template-rows: 1fr 2fr 1fr 1fr;
    min-height:100vh;
}

#salles .img_gauche{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
}

#salles h1.texte_droite{
    grid-column: 2/4;
    grid-row: 1/2;
}

#salles h5.texte_droite{
    grid-column: 2/4;
    grid-row: 2/3;
    text-align:initial;
}

#salles h5 ul li{
    list-style-type: initial;
    line-height: 2.5rem;
}

#salles .infos{
    grid-column:1/4;
    grid-row: 3/4;
    justify-self: center;
}

#salles h5{
    grid-column: 1/4;
    grid-row:4/5;
    margin-top:-50px;
    width:100%;
    text-align: center;
}

/*------------- Footer -------------*/

footer {
    bottom: 0%;
    width: 100%;
    padding-inline:40px;
    line-height: 1rem;
    padding-top:10px;
}

footer h4{
    font-size:large;
}

footer h4{
    margin:0 20px 0 20px;
}


footer .grid-container {
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

footer div.gauche{
    grid-column: 1/2;
}

footer div.gauche div{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    max-height:40.33px;
    margin:5px 20px 5px 20px;
    background-color:white;
    
}

footer div.droite{
    grid-column: 4/5;
}

footer a{
    color: var(--silver-blue);
    text-decoration: underline;
    font-size: 0.9em;
}

footer .droite, footer .gauche{
    text-align: center;
    min-width:219px;
    
}

footer .centre{
    grid-column: 2/4;
    text-align: center;
    white-space: nowrap;
}

footer #Newsletter {
    display: flex;
    justify-content: flex-end;
    margin-left:20px;
    margin-right:20px;
}

footer #Newsletter input[type="email"] {
    padding: 10px;
    max-width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    max-height:40.33px;
    min-height: 40.33px;

}
footer .gauche div{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}

footer .btn-footer {
    border: none;
    background-color: var(--silver-blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin:5px 0 5px 0px;
    width:40px;
    margin-left:-33.95px;
}

footer .btn-footer:hover {
    background-color: var(--gray-blue);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

footer pre { /* Si besoin pour faire une zone de texte qui se sépare du reste */
    background-color: #f4f4f4; padding: 10px; border-radius: 5px;
    text-decoration: underline;
}




/*------------- Media Queries -------------*/

@media only screen and (max-aspect-ratio: 6/9),
       only screen and (max-width: 850px) { /* Responsive Navbar */
    
    /* Main (page d'accueil) */
    
    #page_bienvenue{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(10, auto);
        padding-top:140px;
        padding-bottom: 20px;
    }
    #page_bienvenue h1.texte_gauche,#page_bienvenue h5.texte_gauche,#page_bienvenue img.img_droite,#page_bienvenue h1.texte_droite,#page_bienvenue h5.texte_droite,#page_bienvenue img.img_gauche,#page_bienvenue h1.texte_gauche2,#page_bienvenue h5.texte_gauche2,#page_bienvenue img.img_droite2{
        grid-column: 1/2;
        padding: 0px;
    }
    #page_bienvenue h1.texte_gauche{
        grid-row: 1/2;
    }
    #page_bienvenue h5.texte_gauche{
        grid-row: 2/3;
    }
    #page_bienvenue img.img_droite{
        grid-row: 3/4;
    }
    #page_bienvenue h1.texte_droite{
        grid-row: 4/5;
    }
    #page_bienvenue h5.texte_droite{
        grid-row: 5/6;
    }
    #page_bienvenue img.img_gauche{
        grid-row: 6/7;
    }
    #page_bienvenue h1.texte_gauche2{       
        grid-row: 7/8;
    }
    #page_bienvenue h5.texte_gauche2{
        grid-row: 8/9;
    }
    #page_bienvenue img.img_droite2{
        grid-row: 9/10;
    }

/*------------- Main (Page de choix de salles) -------------*/


    /* Main (Page générique des salles) */

    #salles{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-bottom: 20px;
    }

    #salles h1.texte_gauche,#salles h5.texte_gauche,#salles img.img_droite,#salles h1.texte_droite,#salles h5.texte_droite,#salles img.img_gauche,#salles h1.texte_gauche2,#salles h5.texte_gauche2,#salles img.img_droite2{
        grid-column: 1/2;
        padding: 0px;
    }

    #salles h1.texte_droite{
        grid-row: 1/2;
        padding:0;
    }

    #salles .img_gauche{
        grid-row: 2/3;        
    }
    #salles h5.texte_droite{
        grid-row: 3/4;
        padding:0;
        margin-top:0;
    }

    #salles .infos{
        grid-row: 4/5;
    }

    #salles h5{
        grid-row:5/6;
    }

    /* Responsive Navbar */

    .logo_menu{
        display:block;
    }

    nav ul li, .connexion{
        display: none;
    }

    header ul{
        padding:0;
    }
    .logo_menu img{
        display:block;
    }

    
}

@media screen and (min-width: 851px) {
    .dropdown_menu {
        display: none; /* Masquer le menu */
    }
}

@media screen and (max-width: 700px) {
    footer{
        padding: 0px;
    }

}

@media screen and (max-width: 580px) {
    footer .centre{
        display:none;
    }
}

/* 
   - Ajouter des animations ? Au moins y réfléchir car il faut montrer ce qu'on sait faire au maximum.
   - Trouver un logo ?
   - Prendre un max de photos pour les salles + bat IC1
   - Peaufiner, suggérer des idées, etc. 
   - Et enfin COMMENTER UN MAXIMUM LE CODE. Faut rendre le code le plus lisible possible, ça fait gagner des points en plus mine de rien
   - Revoir la scrollbar pour qu'elle soit plus jolie
*/
